{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="container-xl">
        <div style="padding-top: 100px" class="row">
            <div class="col-lg-6 offset-lg-3">
                <form class="card" method="post" action="" enctype="multipart/form-data">
                    <div class="card-header">{{ request.title }}</div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form | crispy }}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-secondary">{{ request.title }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}