{% extends 'layouts/base.html' %}
{% block content %}
    
    <div class="container-xxl py-5 bg-primary hero-header mb-5">
        <div class="container my-5 py-5 px-lg-5">
            <div class="row g-5 pt-5">
                <div class="col-12 text-center text-lg-start">
                    <h1 class="display-4 text-white animated slideInLeft">Hosting Plans</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-start animated slideInLeft">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Hosting</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Pricing Start -->
    <div class="container-xxl py-5">
        <div class="container px-lg-5">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp"
                 data-wow-delay="0.1s"
                 style="max-width: 600px;">
                <h1 class="mb-3">Our Hosting Plans</h1>
                <p class="mb-1">Vero justo sed sed vero clita amet. Et justo vero sea diam elitr amet ipsum eos ipsum
                    clita
                    duo sed. Sed vero sea diam erat vero elitr sit clita.</p>
            </div>
            <div class="row gy-5 gx-4">
                {% for host in hosting %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="position-relative shadow rounded border-top border-5 border-primary">
                        <div class="text-center border-bottom p-4 pt-5">
                            <h4 class="fw-bold">{{ host.name}}</h4>
                            <p class="mb-0">{{ host.short_description}}</p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            {% if host.sale %}
                                 <p class="text-primary mb-1">Latest Offer - <strong>Save {{ host.discount }}%</strong></p>
                            {% endif %}
                            <h1 class="mb-3">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>{{ host.real_price }}<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small>
                            </h1>
                            <a class="btn btn-primary px-4 py-2" href="">Buy Now</a>
                        </div>
                        <div class="p-4">
                            {% for opp in host.opportunity.all %}
                                <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>{{ opp.name}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Pricing End -->

    <!-- Comparison Start -->
    <div class="container-xxl py-5">
        <div class="container px-lg-5">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp"
                 data-wow-delay="0.1s"
                 style="max-width: 600px;">
                <h1 class="mb-3">Shared VS Dedicated Server</h1>
                <p class="mb-1">Vero justo sed sed vero clita amet. Et justo vero sea diam elitr amet ipsum eos
                    ipsum clita duo sed. Sed vero sea diam erat vero elitr sit clita.</p>
            </div>
            <div class="row g-5 comparison position-relative">
                <div class="col-lg-6 pe-lg-5">
                    <div class="section-title position-relative mx-auto mb-4 pb-4">
                        <h3 class="fw-bold mb-0">Shared Server</h3>
                    </div>
                    <div class="row gy-3 gx-5">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <i class="fa fa-server fa-3x text-primary mb-3"></i>
                            <h5 class="fw-bold">99.99% Uptime</h5>
                            <p>Ipsum dolor diam stet stet kasd diam sea stet sed rebum dolor ipsum</p>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <i class="fa fa-shield-alt fa-3x text-primary mb-3"></i>
                            <h5 class="fw-bold">100% Secured</h5>
                            <p>Ipsum dolor diam stet stet kasd diam sea stet sed rebum dolor ipsum</p>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            <i class="fa fa-cog fa-3x text-primary mb-3"></i>
                            <h5 class="fw-bold">Control Panel</h5>
                            <p>Ipsum dolor diam stet stet kasd diam sea stet sed rebum dolor ipsum</p>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            <i class="fa fa-headset fa-3x text-primary mb-3"></i>
                            <h5 class="fw-bold">24/7 Support</h5>
                            <p>Ipsum dolor diam stet stet kasd diam sea stet sed rebum dolor ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ps-lg-5">
                    <div class="section-title position-relative mx-auto mb-4 pb-4">
                        <h3 class="fw-bold mb-0">Dedicated Server</h3>
                    </div>
                    <div class="row gy-3 gx-5">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <i class="fa fa-server fa-3x text-secondary mb-3"></i>
                            <h5 class="fw-bold">99.99% Uptime</h5>
                            <p>Ipsum dolor diam stet stet kasd diam sea stet sed rebum dolor ipsum</p>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <i class="fa fa-shield-alt fa-3x text-secondary mb-3"></i>
                            <h5 class="fw-bold">100% Secured</h5>
                            <p>Ipsum dolor diam stet stet kasd diam sea stet sed rebum dolor ipsum</p>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            <i class="fa fa-cog fa-3x text-secondary mb-3"></i>
                            <h5 class="fw-bold">Control Panel</h5>
                            <p>Ipsum dolor diam stet stet kasd diam sea stet sed rebum dolor ipsum</p>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            <i class="fa fa-headset fa-3x text-secondary mb-3"></i>
                            <h5 class="fw-bold">24/7 Support</h5>
                            <p>Ipsum dolor diam stet stet kasd diam sea stet sed rebum dolor ipsum</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Comparison Start -->
    
{% endblock %}